body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: Cambria;
    line-height: 1.6;
}

header {
    background-image: url("/imgs/scroll_5stephan.jpg");
    background-size: cover; /* or contain, depending on your preference */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

#title {
    font-size: 36px;

}

main {
    padding: 2rem;
}

#introduction {
    padding-left: 10%;
    padding-right: 10%;
}

#scroll-container {
    margin: 0 10% 0 10%;
    overflow: auto;
    white-space: nowrap;
}

.img {
    height: 175px;
    margin: 0 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

#caption {
    color:#2a2a2a;
}

.image-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 525px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}

.stacked-img {
    width: 500px;
    margin-bottom:5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

#explanation {
    max-width: 60%;
    margin: 0 auto;
    font-size: 19px;
}

/* side by side */

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 300px;
    margin: 10px;
}

#instruments {
    padding-left: 10%;
    padding-right: 10%;
}

/* news */

.news-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.news-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.news-link {
    text-decoration: none;
    color: #007BFF;
    display: flex;
    align-items: center;
}

.news-image {
    width: 150px;
    margin-right: 30px;
}

.news-title {
    font-size: 22px;
    margin: 0;
    color: #333;
    margin-right: 30px;
}

.news-description {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-top: 10px;
}

.news-content {
    flex: 1;
}

.news-date {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

/* button */

.aesthetic-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border: 2px solid #3498db; /* Add a 2px solid border with the same color as the background */
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .aesthetic-button:hover {
    background-color: #2980b9;
  }
  
  .aesthetic-button:focus {
    outline: none;
  }
  
  .aesthetic-button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }